<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='abc.ico') }}">
    </head>
    <body>
        <div>Go to home: <a href="/">Home</a></div>
        <div>Log in: <a href="/login">Log in</a></div>

        {%  with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        {% block message %}{% endblock %}
        {% block login %}{% endblock %}
    </body>
</html>